#container, body {
	background: white;
}
#wrapper {
	padding: 0;
	background: none;
}
#header {
	width: 100%;
	padding-top: 7px;
    border-bottom: 1px solid #E5E5E5;
	background: whiteSmoke url(../img/colorbar.png) repeat-x top left;
}
#nav {
	margin-right: 20px;
}
#content {
	box-shadow: none;
	margin-top: 0
}
/* -------------------- Login -------------------- */
#login #content div.input-group {
	margin-bottom: 10px;
}
#login form #forgot {
	margin-left: 350px;
}
#login #login-form {
	margin-top: 20px;
}
#login #signup {
	border-top: 1px dashed #DDD;
	margin-top: 20px;
	padding-top: 20px;
}
#login-oauth > ul {
	margin: 16px 0 0;
	padding: 0;
}
#login-oauth > ul > li {
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0px;
	display: inline-block;
}
#login #signup-here {
	display: none;
}
/* -------------------- Sitetour -------------------- */
#sitetour #content div.input-group {
	margin-bottom: 10px;
}
#sitetour #content p {
	font-size: 22px;
    color: #939393;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 22px;
}
#sitetour div.control,
#sitetour #sitetour-second {
	margin-top: 20px;
	border-top: 1px dashed #DDD;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
#sitetour #start {
	position: absolute;
}
#sitetour #start {
	margin-left: 50%;
	left: -45px;
}
/* -------------------- Home Page -------------------- */
#home #content {
	width: 100%;
	padding: 0;
	margin: 0;
	position: static;
}
#home #content h4 {
	font-size: 15px;
	font-weight: bold;
}
/* -------------------- Home Menu -------------------- */
#home #menu{
	width: 150px;
	color: #333;
	margin: 0;
	top: 100px;
	left: 24px;
	position: fixed;
	z-index: 10;
	border-width: 0;
}
#home ul.menu {
	list-style: none;
	padding: 0;
}
#home ul.menu > li {
	font-size: 15px;
	padding: 0 15px;
	line-height: 40px;
	margin-bottom: 2px;
	cursor: pointer;
}
#home ul.menu > li.active {
	color: #DD4B39;
	font-weight: bold;
	background: #EEE;
}
#home ul.menu > li:hover {
	background: #EEE;
}
#home ul.menu > li:active {
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
}
/* -------------------- Home List -------------------- */
#home #header {
	position: fixed;
	width: 100%;
}
#home #list {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 200px;
	z-index: 100;
	padding-left: 200px;
}
#home #list ul {
	padding: 100px 0 200px 0;
	margin: 0;
}
#home #list li {
	background: #DDD;
	margin-bottom: 25px;
		overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}
#home #list li:hover {
	background: #EEE;
}
#home #list li > span {
	border-right: 3px solid white;
	padding: 12px 15px 13px 0;
	margin-right: 15px;
}
/* -------------------- Home Detail -------------------- */
#home #detail {
	position: fixed;
	width: 100%;
	font-size: 15px;
}
#home #detail-wrapper {
	margin: 100px 24px 30px 448px;
	overflow: auto;
}
#home #detail ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#home #detail ul > li {
	margin-bottom: 10px;
}
#home #detail ul > li > span {
	margin-bottom: 5px;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #D9D9D9;
	font-size: 16px;
	padding: 8px 15px 7px;
	cursor: default;
	background: #F3F3F3;
	color: #CCC;
	background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
}
#home #detail ul > li > span.active {
	color: white;
	border-color: #3079ED;
	background: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: linear-gradient(top,#4d90fe,#4787ed);
}
#home #detail .button-gray {
	color: #CCC;
}
#home #detail .button-gray:hover {
	box-shadow: none;
}
#home #detail .button-orange, 
#home #detail .button-green, 
#home #detail .button-gray {
	margin-bottom: 5px;
	line-height: 21px;
}
/* -------------------- Setting -------------------- */
#setting tr.configuration ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#setting tr.configuration input.input-text {
	width: 234px;
}