## TODO: put these configurations into apache server config file 
## and change the AllowOverride directive for better performance.

## Protect files and directories from prying eyes.
<FilesMatch "\.git\w+$">
  Order allow,deny
</FilesMatch>
<Files config.php>
  Order allow,deny
</Files>

Options -Indexes +FollowSymLinks
DirectoryIndex index.php index.html index.htm
ErrorDocument 403 /error/403

## private error log
## defaults to use apache error log
#php_value error_log ./tmp/php-error.log

php_value short_open_tag 1

<IfModule mod_expires.c>
  ExpiresActive On
  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A86400
  <FilesMatch \.php$>
    ExpiresActive Off
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule /$ - [S=1]
	RewriteRule ^ index.php [L]
</IfModule>

